[2021-07-11 11:02] vilsi12 opened #5 "Create a Array"
For asking to assign
I want to this question of 'Topic' in Language
Python ,Java etc
We will be assigning you

https://youtu.be/Ff38VOjv1no

[2021-07-14 10:46] neha030 opened #6 "Maximum XOR of two array"
Given an integer array nums, return the maximum result of nums[i] XOR nums[j],
where 0 ≤ i ≤ j < n.

I want to provide the code in C++ language in Bit-Manipulation Folder
Please assign me this issue

https://youtu.be/Ff38VOjv1no

[2021-07-14 10:48] neha030 opened #7 "Reverse Circular Linked list"
I want to provide the code in C++ language
Please assign me this issue

[2021-07-14 12:33] 2000shivam659 commented on #7
I would like to solve this in java language. Please assign me this issue.

[2021-07-14 12:34] 2000shivam659 commented on #6
Can I try in java ?

[2021-07-16 07:16] vilsi12 commented on #7
For asking to assign
I want to this question of 'Topic' in Language
Python ,Java etc
We will be assigning you

https://youtu.be/Ff38VOjv1no

[2021-07-16 10:41] neha030 commented on #7
I want to add this question of "Linked List" in Language C++
Please assign me

[2021-07-16 10:43] neha030 commented on #6
I want to add this question of "Array" in Language C++
Please assign me

[2021-07-16 15:04] devanshi-code opened #8 "Longest Substring Without Repeating Character"
I want to add  this 'Longest Substring Without Repeating Character' in C++ language

[2021-07-16 16:06] swathi-469 opened #9 "CONTRIBUTION"
I would to add step by step instructions for the Beginners in the open source with links , resources , sample screenshots and links to download before contribution. Please assign me

[2021-07-16 17:34] Umesh-01 opened #10 "add some badges to the README"
## Description
Add some badges to the top of readme.md file, since the badges will be colorful and more attractive at the top of README.md file than the text the users will like it and after linking the badges it will also help the users to navigate to different sections/ webpages like PRs, issues, contributors, etc.

![image](https://user-images.githubusercontent.com/83420185/125986956-fe2db87e-9

[2021-07-16 17:40] Umesh-01 opened #11 "Add the appropriate license in the README"
## Description
Add the appropriate license In the README

## Solution
I will add a appropriate license according to your choice.

## Improvements suggested
Use https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/licensing-a-repository to learn about licenses.

[2021-07-16 17:42] Umesh-01 commented on #10
@vnmrsharma @rohan-kulkarni-25 should I work on this??

[2021-07-16 17:42] Umesh-01 commented on #11
@vnmrsharma @rohan-kulkarni-25 should I add a license??

[2021-07-16 19:38] 2000shivam659 commented on #6
I want to add this question of "Array" in Java Language.
Please assign me this issue.

[2021-07-16 19:40] 2000shivam659 commented on #7
I want to add this question of "Linked List" in Java Language.
Please assign me this issue.

[2021-07-16 20:16] nisha331 commented on #5
Hey @vilsi12 I would like to work on this issue and create an array in C++ language. I would be great if you could assign it to me .

[2021-07-16 20:19] nisha331 opened #12 "Finding the largest in an array"
Hey @vilsi12 i would  like to would on this issue and would like to add the file in the c++ folder. I would be great if you could assign it to me (LGMSOC 21).

[2021-07-17 03:39] ChetasShree opened #13 "Find the kth largest element using heap"
hi, I want to solve this issue using C++
Please assign this issue to me under LGMSoC  .
Looking forward to contribute here...
Question link: https:https://leetcode.com/problems/kth-largest-element-in-an-array/

[2021-07-17 04:36] siddhi-244 commented on #5
I would like to try in python under lgmsoc

[2021-07-17 07:29] rahulsrivastava1 opened #14 "kadane's algorithm"
i want to contribute a code of kadane's algorithm in array in cpp

[2021-07-17 12:10] Sargam-Agarwal opened #15 "1. Reverse Linked List (LINKED LIST)"
Contribution Guidelines for this question

- Languages available : C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in LINKED LIST -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

[2021-07-17 13:01] gunjan-g commented on #15
I want to work on this issue, please assign

[2021-07-17 13:05] gunjan-g commented on #15
/assign

[2021-07-17 13:06] sameeksharl opened #16 "Given an array and a number x, find the pair in array whose sum is closest to x"
Contribution Guidelines for this question

- Languages available : C++, Java, Python (please do mention in which language you will be implementing)
- Well Commented Code
- In the starting, add a brief explanation of the algorithm and at the end add testcases as well
- if possible, add time and space complexity
- kindly upload your code in Arrays -> Language (C++, Java, Python) Folder
- NO PLAGIARI

[2021-07-17 13:08] gunjan-g commented on #15
@sameeksharl @Sargam-Agarwal

[2021-07-17 13:09] sameeksharl commented on #15
okay please do follow the guidelines and complete the work within 3/4 days

[2021-07-17 13:10] gunjan-g commented on #15
sure

[2021-07-17 13:23] sameeksharl opened #17 "find the first duplicate element in a given array of integers"
Contribution Guidelines for this question

- Languages available : C++, Java, Python (please do mention in which language you will be implementing)
- Well Commented Code
- In the starting, add a brief explanation of the algorithm and at the end, add testcases .
- if possible, add time and space complexity
- kindly upload your code in Arrays -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

[2021-07-17 13:28] sameeksharl commented on #17
Input
1, 2, 3, 4, 4, 5
1, 2, 3, 4
1, 1, 2, 3, 3, 2, 2

Output
4
-1
1

[2021-07-17 13:31] sameeksharl opened #18 "find a pair with highest product from a given array of integers"
Contribution Guidelines for this question

- Languages available : C++, Java, Python (please do mention in which language you will be implementing)
- Well Commented Code
- In the starting, add a brief explanation of the algorithm and at the end, add testcases .
- if possible, add time and space complexity
- kindly upload your code in Arrays -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

[2021-07-17 13:32] sameeksharl commented on #18
Sample Input/output

Original array: [1, 2, 3, 4, 7, 0, 8, 4]
Maximum product pair is: (7, 8)
Original array: [0, -1, -2, -4, 5, 0, -6]
Maximum product pair is: (-4, -6)

[2021-07-17 13:37] sameeksharl opened #19 "program to sort the given array"
Contribution Guidelines for this question

- Languages available : C++, Java, Python (please do mention in which language you will be implementing)
- Well Commented Code
- In the starting, add a brief explanation of the algorithm and at the end, add testcases .
- if possible, add time and space complexity
- kindly upload your code in Arrays -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

[2021-07-17 13:38] gunjan-g commented on #19
@sameeksharl please assign me this issue in C++

[2021-07-17 13:40] sameeksharl opened #20 "find k’th Smallest and Largest Element in Unsorted Array"
Contribution Guidelines for this question

- Languages available : C++, Java, Python (please do mention in which language you will be implementing)
- Well Commented Code
- In the starting, add a brief explanation of the algorithm and at the end, add testcases .
- if possible, add time and space complexity
- kindly upload your code in Arrays -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

[2021-07-17 13:41] gunjan-g commented on #17
@sameeksharl please assign me this issue in C++

[2021-07-17 13:44] sameeksharl opened #21 "Count leaf nodes in a binary tree"
Contribution Guidelines for this question

- Languages available : C++, Java, Python (please do mention in which language you will be implementing)
- Well Commented Code
- In the starting, add a brief explanation of the algorithm and at the end, add testcases .
- if possible, add time and space complexity
- kindly upload your code in Binary Trees -> Language (C++, Java, Python) Folder
- NO PLAGIAR

[2021-07-17 13:46] gunjan-g commented on #20
@sameeksharl I want to work on this issue, please assign me this

[2021-07-17 16:17] siddhi-244 commented on #19
Can I try in python?

[2021-07-17 17:02] ujju20 opened #22 "2.Merge Two sorted linked list (LINKED LIST)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python (please do mention in which language you will be implementing)
- Well Commented Code
- In the starting, add a brief explanation of the algorithm and at the end, add test cases.
- if possible, add time and space complexity
- kindly upload your code in Linked List -> Language (C++, Java, Python) Folder
- NO PLAGIAR

[2021-07-17 17:05] ujju20 opened #23 "3.Find Length of a Linked List (LINKED LIST)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python (please do mention in which language you will be implementing)
- Well Commented Code
- In the starting, add a brief explanation of the algorithm and at the end, add test cases.
- if possible, add time and space complexity
- kindly upload your code in Linked List -> Language (C++, Java, Python) Folder
- NO PLAGIAR

[2021-07-17 17:06] ujju20 opened #24 "4. Find the middle Element of a given Linked List (LINKED LIST)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python (please do mention in which language you will be implementing)
- Well Commented Code
- In the starting, add a brief explanation of the algorithm and at the end, add test cases.
- if possible, add time and space complexity
- kindly upload your code in Linked List -> Language (C++, Java, Python) Folder
- NO PLAGIAR

[2021-07-17 17:07] ujju20 opened #25 "5.Detect Loop in a Linked List (LINKED LIST)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python (please do mention in which language you will be implementing)
- Well Commented Code
- In the starting, add a brief explanation of the algorithm and at the end, add test cases.
- if possible, add time and space complexity
- kindly upload your code in Linked List -> Language (C++, Java, Python) Folder
- NO PLAGIAR

[2021-07-17 17:10] gunjan-g commented on #25
@ujju20 please assign me this issue in C++

[2021-07-17 17:10] ujju20 opened #26 "1. Reverse Bits of a Given Binary Number (BIT-MANIPULATION)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python (please do mention in which language you will be implementing)
- Well Commented Code
- In the starting, add a brief explanation of the algorithm and at the end, add test cases.
- if possible, add time and space complexity
- kindly upload your code in Bit-Manipulation -> Language (C++, Java, Python) Folder
- NO PL

[2021-07-17 17:12] ujju20 commented on #25
Ya Sure
Do follow the guidelines and Complete your work in 2/3 days.

[2021-07-17 17:12] gunjan-g commented on #25
ok sure

[2021-07-17 17:13] vchsi commented on #21
Hi @sameeksharl ,
I am a first time contributor and I have done a lot of Leetcode DSA Problems. May I be assigned this issue for python3?

[2021-07-17 17:15] gunjan-g commented on #25
@ujju20 do we have to write the full code or just the function

[2021-07-17 17:15] ujju20 opened #27 "2.Count set bits in a number (BIT-MANIPULATION)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python (please do mention in which language you will be implementing)
- Well Commented Code
- In the starting, add a brief explanation of the algorithm and at the end, add test cases.
- if possible, add time and space complexity
- kindly upload your code in Bit-Manipulation-> Language (C++, Java, Python) Folder
- NO PLA

[2021-07-17 17:17] ujju20 opened #28 "3.Check wether a number is power of two or not (BIT-MANIPULATION)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python (please do mention in which language you will be implementing)
- Well Commented Code
- In the starting, add a brief explanation of the algorithm and at the end, add test cases.
- if possible, add time and space complexity
- kindly upload your code in Bit-Manipulation -> Language (C++, Java, Python) Folder
- NO PL

[2021-07-17 17:17] comnk commented on #24
Can I contribute to this issue?

[2021-07-17 17:17] comnk commented on #24
In Java or Python, whichever works for you

[2021-07-17 17:20] comnk commented on #14
can I do this in Java or Python?

[2021-07-17 17:22] comnk commented on #22
Hello @ujju20

I am a first time contributor who has worked on LeetCode challenges and problems for a while now. Can I work on this issue?

[2021-07-17 17:26] gunjan-g commented on #22
@ujju20 please assign me this issue in C++

[2021-07-17 17:26] ujju20 opened #29 "4.Calculate square of a number without using *, / and pow() (BIT-MANIPULATION)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python (please do mention in which language you will be implementing)
- Well Commented Code
- In the starting, add a brief explanation of the algorithm and at the end, add test cases.
- if possible, add time and space complexity
- kindly upload your code in Bit-Manipulation -> Language (C++, Java, Python) Folder
- NO PL

[2021-07-17 17:29] ujju20 opened #30 "5.Count total set bits from 1 to N (BIT-MANIPULATON)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python (please do mention in which language you will be implementing)
- Well Commented Code
- In the starting, add a brief explanation of the algorithm and at the end, add test cases.
- if possible, add time and space complexity
- kindly upload your code in Bit-Manipulation -> Language (C++, Java, Python) Folder
- NO PL

[2021-07-17 17:30] ujju20 commented on #25
Full code

[2021-07-17 17:33] ujju20 commented on #22
Choose one Language

[2021-07-17 17:33] gunjan-g commented on #25
thanks

[2021-07-17 17:33] ujju20 commented on #24
choose one

[2021-07-17 17:36] ujju20 commented on #22
@gunjan-g  One person can work at max 2 issues so first try the issues you have assigned then come and grad new issues.

[2021-07-17 17:36] gunjan-g commented on #23
@ujju20 please assign me this issue in C++

[2021-07-17 17:38] ujju20 commented on #23
@gunjan-g One person can work at max 2 issues so first try the issues you have assigned then come and grad new issues.

[2021-07-17 17:38] gunjan-g commented on #22
Ok, I'll complete them by today

[2021-07-17 17:39] ujju20 commented on #22
Ya First Complete those issues then grab the new ones.

[2021-07-17 17:45] comnk commented on #22
Can I work on this issue in Java?

[2021-07-17 17:45] sameeksharl commented on #21
Sure go ahead @vchsi

[2021-07-17 17:46] ujju20 commented on #22
Ok Do follow the guidelines and complete your work in 2/3 days.

[2021-07-17 17:49] sameeksharl commented on #17
Pls come back after making the pr for the assigned issue

[2021-07-17 17:55] comnk commented on #22
Do I need to build a LinkedList class alongside with the code?

[2021-07-17 17:56] ujju20 commented on #22
Yes You have to

[2021-07-17 17:57] vchsi commented on #21
Hi @sameeksharl ,
When I am finished with this issue, do I need to make a pull request or do I just upload it right into the folder?

[2021-07-17 17:59] sameeksharl commented on #21
No u have to make a pull request.  I think u know how to do it.
Fork ,commit ur work , and then make pr

On Sat, 17 Jul 2021, 11:27 pm vchsi, ***@***.***> wrote:

[2021-07-17 17:59] vchsi commented on #21
Ok, I will do that when I am finished with my code.

[2021-07-17 18:12] gunjan-g commented on #22
I've completed one of them, now could you assign me this in C++

[2021-07-17 18:31] comnk commented on #22
should it work with a certain type (whether it be ints or strings or floats), or all types?

[2021-07-17 18:48] Sanskriti2401 commented on #29
@ujju20 I want to work on this issue in C++ language.

[2021-07-17 18:52] gunjan-g commented on #23
I've done my task, please assign me this

[2021-07-17 19:00] gunjan-g commented on #19
@sameeksharl, I've completed my task, please assign me this issue

[2021-07-17 19:07] vchsi commented on #21
I am done with my code and have made a Pull Request.

[2021-07-17 19:28] ultimatecoder2 commented on #28
please assign me this (in c++ language)

[2021-07-17 19:41] gunjan-g commented on #20
@sameeksharl completed my task, please assign me this issue

[2021-07-18 03:43] Ayonijakaushik19 opened #35 "Add Contribution Guidelines for this project as well the Contribution Guidelines for the questions in the README.MD file itself."
Hi, @vilsi12 please assign this to me.

[2021-07-18 03:43] nisha331 commented on #30
Hey mentors and Project admins i would like to work on this issue in c++ language kindly assign it to me.

[2021-07-18 03:44] nisha331 commented on #30
Hey mentors and Project admins i would like to work on this issue in c++ language kindly assign it to me.

[2021-07-18 04:39] ChetasShree commented on #24
I want to solve this issue using C++
Please assign this issue to me under LGMSoC .
Looking forward to contribute here... @ujju20

[2021-07-18 06:52] 2000shivam659 commented on #30
Please assign me this under Java language....

[2021-07-18 06:53] 2000shivam659 commented on #29
I would like to try this under **Java** language, Please assign me this.

[2021-07-18 06:55] 2000shivam659 commented on #27
I have solved this one, please allow me to do this in **Java** language.

[2021-07-18 06:56] 2000shivam659 commented on #25
Could you please assign me this under **Java** language.

[2021-07-18 06:58] 2000shivam659 commented on #19
I would like to try this in **Java**.

[2021-07-18 07:21] sonamgupta136 commented on #20
@sameeksharl  I want to try in c++

[2021-07-18 08:10] sameeksharl opened #38 "Determine whether given tree is binary search tree(BST) or not"
Contribution Guidelines for this question

- Languages available : C++, Java, Python (please do mention in which language you will be implementing)
- Well Commented Code
- In the starting, add a brief explanation of the algorithm and at the end, add testcases .
- if possible, add time and space complexity
- kindly upload your code in Binary Trees -> Language (C++, Java, Python) Folder
- NO PLAGIAR

[2021-07-18 08:16] gunjan-g commented on #19
@sameeksharl Please assign me this issue in C++

[2021-07-18 08:16] gunjan-g commented on #20
@sameeksharl Please assign me this issue in C++

[2021-07-18 08:22] sameeksharl opened #39 "implement tree traversal (iterative method which should include preorder, inorder , postorder)"
Contribution Guidelines for this question

- Languages available : C++, Java, Python (please do mention in which language you will be implementing)
- Well Commented Code
- In the starting, add a brief explanation of the algorithm and at the end, add testcases .
- if possible, add time and space complexity
- kindly upload your code in Binary Trees -> Language (C++, Java, Python) Folder
- NO PLAGIAR

[2021-07-18 08:23] sameeksharl opened #40 "counting the number of nodes present in a binary tree"
Contribution Guidelines for this question

- Languages available : C++, Java, Python (please do mention in which language you will be implementing)
- Well Commented Code
- In the starting, add a brief explanation of the algorithm and at the end, add testcases .
- if possible, add time and space complexity
- kindly upload your code in Binary Trees -> Language (C++, Java, Python) Folder
- NO PLAGIAR

[2021-07-18 08:26] sameeksharl opened #41 "Determine if a binary tree is height-balanced"
Contribution Guidelines for this question

- Languages available : C++, Java, Python (please do mention in which language you will be implementing)
- Well Commented Code
- In the starting, add a brief explanation of the algorithm and at the end, add testcases .
- if possible, add time and space complexity
- kindly upload your code in Binary Trees -> Language (C++, Java, Python) Folder
- NO PLAGIAR

[2021-07-18 09:02] anushka-srivastava22 opened #42 "Sort Linked List"
This is a standard medium level problem which is mostly asked in interview. Three important concepts of linked list are used to solve this problem. I would like to contribute my solution to this problem using java languge as I am lgmsoc participant. So kindly assign this problem to me under lgmsoc tag. @mentors @Sargam-Agarwal @rohan-kulkarni-25

[2021-07-18 09:05] anushka-srivastava22 opened #43 "Merge k sorted list."
This is a hard level problem but an important concept. I would like to contribute my solution using java languge as I am a lgmsoc participant so kindly assign this issue to me under lgmsoc tag.
@mentors @rohan-kulkarni-25 @Sargam-Agarwal

[2021-07-18 09:07] anushka-srivastava22 opened #44 "Rain Water Trapping"
This is a hard level problem but an important concept. This problem is asked in almost every interview and coding rounds. I would like to contribute my solution using java languge to this problem. Kindly assign me this issue under lgmsoc tag.
@mentors @rohan-kulkarni-25 @Sargam-Agarwal

[2021-07-18 09:16] mrkc2303 commented on #26
I can do this in C++. Kindly assign me!

[2021-07-18 10:00] chandu6111 commented on #23
Hey @ujju20 I would like to contribute to this issue under LGMSOC'21 in C++
Could you please assign me this issue?

- [x] C++

[2021-07-18 10:03] chandu6111 commented on #17
Hey, @sameeksharl I would like to contribute to this issue in python under LGMSOC'21. Could you please assign this issue to me?
- [x] python

[2021-07-18 12:03] #42 closed

[2021-07-18 12:03] anushka-srivastava22 commented on #42
I am a participant and mentor can only open the issue so i am closing it

[2021-07-18 12:56] #44 closed

[2021-07-18 12:58] Sargam-Agarwal commented on #43
Hey @anushka-srivastava22, the contribution guidelines have been updated. Kindly check them. Participants cannot open the issue. Thus, closing this one.
Keep Coding :)

[2021-07-18 12:58] #43 closed

[2021-07-18 13:00] Sargam-Agarwal commented on #35
Hey @Ayonijakaushik19, the project has undergone major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now, no participant is supposed to update the README.md file.
Keep Coding :)

[2021-07-18 13:00] #35 closed

[2021-07-18 13:03] Sargam-Agarwal commented on #10
Hey @Umesh-01 , the project has undergone major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now, no participant is supposed to update the README.md file.
Keep Coding :)

[2021-07-18 13:03] #10 closed

[2021-07-18 13:04] Sargam-Agarwal commented on #9
Hey @swathi-469 , the project has undergone major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now, no participant is supposed to update the README.md file.
Keep Coding :)

[2021-07-18 13:04] #9 closed

[2021-07-18 13:05] Sargam-Agarwal commented on #8
Hey @devanshi-code , the project has undergone major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now, no participant is supposed to update the README.md file.
No participant can open an issue for any question. You can suggest the questions. Please check out README.md for more.
Keep Coding :)

[2021-07-18 13:05] #8 closed

[2021-07-18 13:06] Sargam-Agarwal commented on #11
Hey @Umesh-01  , the project has undergone major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now, no participant is supposed to update the README.md file. No participant can open an issue for any question. You can suggest the questions. Please check out README.md for more.
Keep Coding :)

[2021-07-18 13:07] #11 closed

[2021-07-18 13:07] SnehaAgarwal361 commented on #14
Hey @rahulsrivastava1  , the project has undergone major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now, no participant is supposed to update the README.md file.
Once we post questions there we can contribute!
Keep Coding :)

[2021-07-18 13:07] #14 closed

[2021-07-18 13:09] SnehaAgarwal361 commented on #13
Hey @ChetasShree ,  the project has undergone a major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now, no participant is supposed to update the README.md file.
Once we post questions there you can contribute!
Keep Coding :)

[2021-07-18 13:09] #13 closed

[2021-07-18 13:19] SnehaAgarwal361 commented on #15
Hey @gunjan-g , the project has undergone a major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now, no participant is supposed to update the README.md file.
Once we post questions there you can contribute, for now closing the issue!
Keep Coding :)

[2021-07-18 13:19] #15 closed

[2021-07-18 13:19] SnehaAgarwal361 commented on #12
Hey @nisha331  , the project has undergone a major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now, no participant is supposed to update the README.md file.
Once we post questions there you can contribute, for now closing the issue!
Keep Coding :)

[2021-07-18 13:19] #12 closed

[2021-07-18 13:19] Sargam-Agarwal commented on #5
Hey @nisha331, @siddhi-244, the project has undergone major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it.
As of now then, you shouldn't work on this issue as we are starting afresh.
Really sorry for the inconvenience.
Keep Coding :)

[2021-07-18 13:19] #5 closed

[2021-07-18 13:20] 2000shivam659 commented on #39
Please assign me this in **Java** language. I will upload sol. within 1-2 days.

[2021-07-18 13:21] Sargam-Agarwal commented on #6
Hey @neha030 @2000shivam659, the project has undergone major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it.
No participant can open an issue for any question. You can suggest the questions. Please check out README.md for more.
Keep Coding :)

[2021-07-18 13:21] #6 closed

[2021-07-18 13:23] Sargam-Agarwal commented on #7
Hey @neha030 @2000shivam659 , the project has undergone major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it.
As of now, closing this issue.
Keep Coding :)

[2021-07-18 13:23] #7 closed

[2021-07-18 13:29] gunjan-g commented on #15
ok di

[2021-07-18 13:39] SnehaAgarwal361 commented on #44
Hey @anushka-srivastava22  , the project has undergone a major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now, no participant is supposed to update the README.md file.
We are going to be starting afresh. So, as of now, you cannot contribute the code for this question. You can do it once we open a new

[2021-07-18 13:45] anushka-srivastava22 commented on #44
Ya ya it okay ...  I came to know about it and hence i closed one issue myself.

[2021-07-18 13:56] nisha331 commented on #19
Hey mentors and project admin the project has been revampes so kindly assign this issue to  to me in c++ .

[2021-07-18 15:01] yellowberard commented on #30
I would like to solve this question with C++ Language. Kindly Assign me his issue.

[2021-07-18 17:03] ujju20 commented on #26
Hey @mrkc2303, the project has undergone a major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now, no participant is supposed to update the README.md file.
We are going to be starting afresh. You can wait until the opening of new issues.
Really sorry for any inconvenience.
Keep Coding :)

[2021-07-18 17:04] #26 closed

[2021-07-18 17:06] ujju20 commented on #30
Hey @2000shivam659 @nisha331 @yellowberard , the project has undergone a major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now.
We are going to be starting afresh. You can wait until the opening of new issues.
Really sorry for any inconvenience.
Keep Coding :)

[2021-07-18 17:06] #30 closed

[2021-07-18 17:06] ujju20 commented on #29
Hey @Sanskriti2401 @2000shivam659 , the project has undergone a major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now.
We are going to be starting afresh. You can wait until the opening of new issues.
Really sorry for any inconvenience.
Keep Coding :)

[2021-07-18 17:06] #29 closed

[2021-07-18 17:07] ujju20 commented on #28
Hey @ultimatecoder2 , the project has undergone a major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now.
We are going to be starting afresh. You can wait until the opening of new issues.
Really sorry for any inconvenience.
Keep Coding :)

[2021-07-18 17:07] #28 closed

[2021-07-18 17:08] ujju20 commented on #27
Hey @2000shivam659 , the project has undergone a major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now.
We are going to be starting afresh. You can wait until the opening of new issues.
Really sorry for any inconvenience.
Keep Coding :)

[2021-07-18 17:08] #27 closed

[2021-07-18 17:08] ujju20 commented on #25
Hey Guys, the project has undergone a major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now.
We are going to be starting afresh. You can wait until the opening of new issues.
Really sorry for any inconvenience.
Keep Coding :)

[2021-07-18 17:09] ujju20 commented on #24
Hey Guys, the project has undergone a major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now.
We are going to be starting afresh. You can wait until the opening of new issues.
Really sorry for any inconvenience.
Keep Coding :)

[2021-07-18 17:09] #24 closed

[2021-07-18 17:09] #25 closed

[2021-07-18 17:09] ujju20 commented on #23
Hey Guys, the project has undergone a major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now.
We are going to be starting afresh. You can wait until the opening of new issues.
Really sorry for any inconvenience.
Keep Coding :)

[2021-07-18 17:09] #23 closed

[2021-07-18 17:09] ujju20 commented on #22
Hey Guys, the project has undergone a major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now.
We are going to be starting afresh. You can wait until the opening of new issues.
Really sorry for any inconvenience.
Keep Coding :)

[2021-07-18 17:10] #22 closed

[2021-07-18 17:35] #41 closed

[2021-07-18 17:35] #40 closed

[2021-07-18 17:36] sameeksharl commented on #39
Hey  @2000shivam659 , the project has undergone a major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now.
We are going to be starting afresh. You can wait until the opening of new issues.
Really sorry for any inconvenience.
Keep Coding :)

[2021-07-18 17:36] #39 closed

[2021-07-18 17:36] #38 closed

[2021-07-18 17:37] sameeksharl commented on #21
Hey @vchsi  , the project has undergone a major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now.
We are going to be starting afresh. You can wait until the opening of new issues.
Really sorry for any inconvenience.
Keep Coding :)

[2021-07-18 17:37] #21 closed

[2021-07-18 17:37] #16 closed

[2021-07-18 17:38] sameeksharl commented on #17
Hey @chandu6111  , the project has undergone a major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now.
We are going to be starting afresh. You can wait until the opening of new issues.
Really sorry for any inconvenience.
Keep Coding :)

[2021-07-18 17:38] #17 closed

[2021-07-18 17:38] #18 closed

[2021-07-18 17:39] sameeksharl commented on #19
Hey @gunjan-g @nisha331 @siddhi-244  , the project has undergone a major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now.
We are going to be starting afresh. You can wait until the opening of new issues.
Really sorry for any inconvenience.
Keep Coding :)

[2021-07-18 17:39] #19 closed

[2021-07-18 17:40] sameeksharl commented on #20
Hey @gunjan-g @sonamgupta136  , the project has undergone a major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now.
We are going to be starting afresh. You can wait until the opening of new issues.
Really sorry for any inconvenience.
Keep Coding :)

[2021-07-18 17:40] #20 closed

[2021-07-18 20:22] ultimatecoder2 commented on #28
Okay, thanks @ujju20 for informing me. If you need any kind of help then do let me know. I will also keep a check on this repo. Cheers🙌

[2021-07-19 05:32] 2000shivam659 opened #45 "Trapping Rain Water"
### Aim

Given n non-negative integers representing an elevation map where the width of each bar is 1, compute how much water it can trap after raining.

##Details

<img width="713" alt="3" src="https://user-images.githubusercontent.com/76156804/126107628-5fb9742b-c2c6-412a-aa53-3206f0dc5535.png">

### Programing language

- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-07-19 05:33] 2000shivam659 commented on #45
Please assign me this under LGMSOC'21.

[2021-07-19 05:36] 2000shivam659 opened #46 "Remove Nth Node From End of List"
### Aim

Given the head of a linked list, remove the nth node from the end of the list and return its head.

### Details

<img width="642" alt="3" src="https://user-images.githubusercontent.com/76156804/126108107-85443bef-41c8-47dc-a23e-98477de41f40.png">

### Programing language

- [ ]
- [ ] C
- [ ] C++
- [x] Java
- [ ] Python

[2021-07-19 05:38] 2000shivam659 commented on #46
@Sargam-Agarwal Please assign me this under LGMSOC'21.

[2021-07-19 05:48] SnehaAgarwal361 opened #47 "1. Symmetric Tree(TREES)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in TREES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://www.youtube.co

[2021-07-19 06:08] Sargam-Agarwal commented on #45
Hey @2000shivam659 , the project has undergone a major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now, no participant can open an issue for any question.
We are going to be starting afresh. So, as of now, you cannot contribute the code for this question. You can do it once we open a new issue for it.

[2021-07-19 06:08] #45 closed

[2021-07-19 06:09] Sargam-Agarwal commented on #46
Hey @2000shivam659 , the project has undergone a major restructuring so we have updated our README along with the contribution guidelines and some other important points. Kindly check it and as of now, no participant can open an issue for any question.
We are going to be starting afresh. So, as of now, you cannot contribute the code for this question. You can do it once we open a new issue for it.

[2021-07-19 06:09] #46 closed

[2021-07-19 06:57] AtrikGit6174 commented on #47
I would like to solve this question using C++. Kindly assign me this issue under LGMSOC 21.

[2021-07-19 08:48] Sargam-Agarwal opened #48 "1. First Unique Character in a String (QUEUE)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in QUEUES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[Video](https://youtu

[2021-07-19 08:58] Sargam-Agarwal opened #49 "2. Implement Stack using Queue (QUEUES)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in QUEUES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.youtube.

[2021-07-19 08:59] #49 closed

[2021-07-19 09:00] Sargam-Agarwal opened #50 "2. Implement Queue using Stack (QUEUE)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in QUEUES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.youtube.

[2021-07-19 09:01] Sargam-Agarwal opened #51 "3. Implement Stack using Queue (QUEUE)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in QUEUES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.youtube.

[2021-07-19 09:02] Sargam-Agarwal opened #52 "4. Number of Students Unable to eat Lunch (QUEUE)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in QUEUES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.youtube.

[2021-07-19 09:02] Sargam-Agarwal opened #53 "5. Reveal Cards in increasing order (QUEUE)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in QUEUES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[Video](https://youtu

[2021-07-19 09:14] 2000shivam659 commented on #48
I would like to solve this in **Java** language under LGMSOC'21.

[2021-07-19 09:16] ujju20 opened #54 "1. Single Number (BIT-MANIPULATION)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in QUEUES -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.

[2021-07-19 09:17] ujju20 opened #55 "2. Add Binary Numbers(BIT-MANIPULATION)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in QUEUES -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.

[2021-07-19 09:19] ujju20 opened #56 "3.Check wether a number is power of two(BIT-MANIPULATION)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Bit-Manipulation- -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[h

[2021-07-19 09:20] ujju20 opened #57 "4.Counting Bits of a Number(BIT-MANIPULATION)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Bit-Manipulation--> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
htt

[2021-07-19 09:21] ujju20 opened #58 "5. Number Complement (BIT-MANIPULATION)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Bit-Manipulation--> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[ht

[2021-07-19 09:21] ujju20 opened #59 "6. Check wether a number is power of four(BIT-MANIPULATION)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Bit-Manipulation--> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[ht

[2021-07-19 09:22] 2000shivam659 commented on #56
I have read the readme file and would like to solve this in **Java** language under LGMSOC'21.

[2021-07-19 09:23] 2000shivam659 commented on #57
I would like to solve this in **Java** language under LGMSOC'21.

[2021-07-19 09:25] ujju20 commented on #48
Ok, Do follow the guidelines and complete your work in 1/2 days.

[2021-07-19 09:25] ujju20 commented on #56
Ok, Do follow the guidelines and complete your work in 1/2 days.

[2021-07-19 09:26] Sargam-Agarwal opened #60 "1. Number of good pairs (HASHTABLE)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in HASHTABLE -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.youtu

[2021-07-19 09:27] ujju20 commented on #57
@2000shivam659 One participant can work on at max two issues first complete them then grab new issues.

[2021-07-19 09:27] ujju20 commented on #47
Ok, Do follow the guidelines and complete your work in 1/2 days.

[2021-07-19 09:27] Sargam-Agarwal opened #61 "2. Jewels and Stones (HASHTABLE)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in HASHTABLE -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.youtu

[2021-07-19 09:27] 2000shivam659 commented on #57
Ok

[2021-07-19 09:29] Sargam-Agarwal opened #62 "3. How many numbers are smaller than the current number (HASHTABLE)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in HASHTABLE -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.youtu

[2021-07-19 09:32] Sargam-Agarwal opened #63 "4. Check if the sentence is pangram (HASHTABLE)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in HASHTABLE -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.youtu

[2021-07-19 09:33] Sargam-Agarwal opened #64 "5. Count the number of consistent strings (HASHTABLE)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in HASHTABLE -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.youtu

[2021-07-19 10:08] gunjan-g commented on #50
@Sargam-Agarwal could you please assign me this issue

[2021-07-19 10:16] ujju20 opened #65 "1.Merge Two Sorted Linked List (LINKED LIST)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Linked List-> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://

[2021-07-19 10:17] ujju20 opened #66 "2. Remove Duplicates from sorted list (LINKED LIST)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Linked List-> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://

[2021-07-19 10:17] ujju20 opened #67 "3.Reverse a Linked List (LINKED LIST)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Linked List-> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://y

[2021-07-19 10:18] ujju20 opened #68 "4. Palindrome Linked List (LINKED LIST)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Linked List-> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://y

[2021-07-19 10:19] ujju20 opened #69 "5. Delete a Node in a Linked List (LINKED LIST)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Linked List-> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://

[2021-07-19 10:36] gunjan-g commented on #67
@ujju20 please assign me this issue in C++

[2021-07-19 11:26] gunjan-g commented on #67
@Sargam-Agarwal please assign me this issue in C++

[2021-07-19 12:05] Debashish-hub opened #70 "1. Maximum Product of Two Elements in an Array (HEAP)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Heap -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.yo

[2021-07-19 12:06] Debashish-hub opened #71 "2. The K Weakest Rows in a Matrix (HEAP)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Heap -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.yo

[2021-07-19 12:07] Debashish-hub opened #72 "3. Last Stone Weight (HEAP)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Heap -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.yo

[2021-07-19 12:08] Debashish-hub opened #73 "4. Relative Ranks (HEAP)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Heap -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.yo

[2021-07-19 12:09] Debashish-hub opened #74 "5. Kth Largest Element in a Stream (HEAP)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Heap -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.yo

[2021-07-19 12:16] Debashish-hub opened #75 "1. Design HashSet (HASHING)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Hashing-> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.

[2021-07-19 12:17] Debashish-hub opened #76 "2. Design HashMap (HASHING)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Hashing-> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.

[2021-07-19 12:18] Debashish-hub opened #77 "3. Subtree of Another Tree (HASHING)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Hashing-> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.

[2021-07-19 12:19] Debashish-hub opened #78 "4. Encode and Decode TinyURL (HASHING)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Hashing-> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.

[2021-07-19 12:19] Debashish-hub opened #79 "5. Check If a String Contains All Binary Codes of Size K (HASHING)"
# Contribution Guidelines for this question

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Hashing-> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https://www.

[2021-07-19 13:06] YashThakare opened #80 "1. Coin Change (DYNAMIC PROGRAMMING)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in DYNAMIC PROGRAMMING -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://

[2021-07-19 13:08] YashThakare opened #81 "2. Unique Paths (DYNAMIC PROGRAMMING)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in DYNAMIC PROGRAMMING -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://

[2021-07-19 13:09] YashThakare opened #82 "3. Edit Distance (DYNAMIC PROGRAMMING)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in DYNAMIC PROGRAMMING -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https:/

[2021-07-19 13:11] YashThakare opened #83 "4. Trapping Rain Water (DYNAMIC PROGRAMMING)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in DYNAMIC PROGRAMMING -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://

[2021-07-19 13:12] YashThakare opened #84 "5. Best Time to Buy and Sell Stock (DYNAMIC PROGRAMMING)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in DYNAMIC PROGRAMMING -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https:/

[2021-07-19 13:12] Yash-Thakare22 opened #85 "6. Pascal's Triangle (DYNAMIC PROGRAMMING)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in DYNAMIC PROGRAMMING -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://

[2021-07-19 13:13] YashThakare opened #86 "7. Climbing Stairs (DYNAMIC PROGRAMMING)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in DYNAMIC PROGRAMMING -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
[https:/

[2021-07-19 13:25] YashThakare opened #87 "1. Rectangle Area (MATH)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in MATH -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.be/qXeaN_

[2021-07-19 13:25] YashThakare opened #88 "2. Count Primes (MATH)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in MATH -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.be/qXeaN_

[2021-07-19 13:26] YashThakare opened #89 "3. Permutation Sequence (MATH)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in MATH -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.be/qXeaN_

[2021-07-19 13:26] YashThakare opened #90 "4. Excel Sheet Column Title (MATH)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in MATH -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.be/qXeaN_

[2021-07-19 13:27] YashThakare opened #91 "5. Factorial Trailing Zeroes (MATH)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in MATH -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.be/qXeaN_

[2021-07-19 13:51] ChetasShree commented on #88
hi @YashThakare  , I want to solve this issue using C++...
Please assign this issue to me under LGMSOC '21 ,using C++ language.
Looking forward to contribute here...

[2021-07-19 13:52] ChetasShree commented on #69
hi @YashThakare @ujju20  , I want to solve this issue using C++...
Please assign this issue to me under LGMSOC '21 ,using C++ language.
Looking forward to contribute here...

[2021-07-19 15:14] AtrikGit6174 commented on #90
I would like to add the C++ solution for this problem under LGMSOC21. Kindly assign me this issue.

[2021-07-19 15:16] AtrikGit6174 commented on #68
I would like to add the C++ solution for this issue under LGMSOC. Kindly assign it to me.

[2021-07-19 16:32] SnehaAgarwal361 opened #92 "2. Invert Binary Tree (TREES)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in TREES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.be/qXeaN

[2021-07-19 16:33] SnehaAgarwal361 opened #93 "3. Same Tree (TREES)"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in TREES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://www.youtube.c

[2021-07-19 16:41] SnehaAgarwal361 opened #94 "4.Validate Binary Search Tree (TREES)"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in TREES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.be/qXea

[2021-07-19 16:42] SnehaAgarwal361 opened #95 "5. Lowest Common Ancestor(TREES)"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in TREES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://www.youtube.c

[2021-07-19 17:32] SnehaAgarwal361 opened #96 "5. Remove-all-adjacent-duplicates-in-string(TREES)"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in TREES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://www.youtube.c

[2021-07-19 17:33] SnehaAgarwal361 opened #97 "4. Basic Calculator II(STACK)"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in STACK -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.be/qXea

[2021-07-19 17:34] SnehaAgarwal361 opened #98 "3. Implement queue using Stacks(TREES)"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in TREES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://www.youtube.c

[2021-07-19 17:35] SnehaAgarwal361 opened #99 "2. Reorder List(STACK)"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in STACK -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.be/qXea

[2021-07-19 17:35] SnehaAgarwal361 opened #100 "1. Valid Parenthesis(STACK)"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in STACKS -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.be/qXe

[2021-07-19 18:09] Ayonijakaushik19 opened #101 "Add Two Numbers(Linked List)"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in TREES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

[2021-07-19 18:10] Ayonijakaushik19 opened #102 "Container with most water"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in TREES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

[2021-07-19 18:11] Ayonijakaushik19 opened #103 "Intger to Roman"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in TREES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

[2021-07-19 18:12] Ayonijakaushik19 opened #104 "Roman to Integer"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in TREES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

[2021-07-19 18:13] Ayonijakaushik19 opened #105 "Merge K sorted list(LinkedList)"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in TREES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

[2021-07-19 18:14] Ayonijakaushik19 opened #106 "Next Permutation"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in TREES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

[2021-07-19 18:15] Ayonijakaushik19 opened #107 "Search in a rotated sorted array"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in TREES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

[2021-07-19 18:18] Ayonijakaushik19 opened #108 "Remove duplicate from sorted array"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in TREES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

[2021-07-19 18:19] Ayonijakaushik19 opened #109 "Trapping Rain Water"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in TREES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

[2021-07-19 18:21] #109 closed

[2021-07-19 18:21] Ayonijakaushik19 commented on #109
Duplicate issue

[2021-07-19 18:24] Ayonijakaushik19 opened #110 "Find First and Last Position of Element in Sorted Array"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in TREES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

[2021-07-19 18:25] Ayonijakaushik19 opened #111 "Longest Substring Without Repeating Characters"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in TREES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

[2021-07-19 18:27] Ayonijakaushik19 opened #112 "Merge Interval"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in TREES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

[2021-07-19 18:28] Ayonijakaushik19 opened #113 "Search in a 2D Matrix"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in TREES -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

[2021-07-20 04:14] comnk commented on #80
Can I work on this problem in Java?

[2021-07-20 04:15] comnk commented on #105
Can I work on this problem in Java?

[2021-07-20 04:17] comnk commented on #69
Can I work on this problem in Java?

[2021-07-20 04:17] comnk commented on #59
Can I work on this problem in Java?

[2021-07-20 05:17] anushka-srivastava22 commented on #88
@YashThakare I would like do it using java. Kindly assign this issue to me.

[2021-07-20 05:41] 2000shivam659 commented on #58
assign me this in **java** language

[2021-07-20 07:27] ujju20 commented on #58
Do follow the guidelines and complete your work in 1 day.

[2021-07-20 07:28] ujju20 commented on #59
sure do follow the guidelines and complete your work in 1 day.

[2021-07-20 07:29] ujju20 commented on #69
Do follow the guidelines and complete your work in 1 day.

[2021-07-20 07:29] ujju20 commented on #69
Do follow the guidelines and complete your work in 1 day.

[2021-07-20 07:30] ujju20 commented on #68
Do follow the guidelines and complete your work in 1 day.

[2021-07-20 07:35] YashThakare commented on #80
Do follow the guidelines and complete your work in 2 days. Please go through README file.

[2021-07-20 07:36] YashThakare commented on #88
Hi @ChetasShree, Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-07-20 07:37] YashThakare commented on #88
Hi @anushka-srivastava22, Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-07-20 07:37] YashThakare commented on #90
Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-07-20 07:41] Sanskriti2401 commented on #95
@SnehaAgarwal361 Kindly assign me this issue under LGMSOC'21

[2021-07-20 07:58] Sargam-Agarwal commented on #67
@gunjan-g you can start working on this issue. Kindly follow all the guidelines properly and make sure to contribute it within 2 days. All the best 👍

[2021-07-20 08:08] SnehaAgarwal361 commented on #95
@Sanskriti2401 you can start working on this issue. Kindly follow all the guidelines properly and make sure to contribute it within 2 days. All the best 👍

[2021-07-20 08:26] nisha331 commented on #58
Hey @ujju20  does this ques implies to returing the 1s complete of the given no?
If yes, kindly assign it to me , else kindly correct me i would like to work on this.

[2021-07-20 08:29] nisha331 commented on #56
Hey @ujju20  i would like to work on this issue in c++ language kindly assign it to me.

[2021-07-20 12:02] AtrikGit6174 commented on #86
I would like to add the C++ solution for this problem under LGMSOC21. Kindly assign it.

[2021-07-20 12:17] YashThakare commented on #86
Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-07-20 12:47] AtrikGit6174 commented on #52
I would like to add the C++ solution under LGMSOC21. Kindly assign it.

[2021-07-20 12:51] ujju20 commented on #58
Ya correct.
Do follow the guidelines and complete your work in 1 day.

[2021-07-20 12:59] ujju20 commented on #56
Ok, Do follow the guidelines and complete your work in 1 day.

[2021-07-20 13:11] Sargam-Agarwal commented on #52
Hey @AtrikGit6174
You can start working on this issue. Kindly go through  the README before contributing. The project has undergone major restructuring. Make sure to follow all the guidelines strictly.
Contribute the code within 2 days.
All the best 👍

[2021-07-20 13:24] ujju20 commented on #101
Hey, @Ayonijakaushik19  In the Readme file it is clearly mentioned that the issues are to be created by mentors only.
The Participants can suggest the questions.

So Kindly Close all the issues created by you by tonight.

[2021-07-20 14:08] AtrikGit6174 commented on #99
I have implemented a C++ solution for this problem, but it effectively works on a deque-type vector operation.
Stats for my submission are
Runtime: 36 ms, faster than 84.22% of C++ online submissions for Reorder List.
Memory Usage: 19.2 MB, less than 7.23% of C++ online submissions for Reorder List.
Will it be right to submit it for this problem under STACKS?

[2021-07-20 15:45] 23-24 commented on #65
can I work on this using c++

[2021-07-20 17:29] #101 closed

[2021-07-20 17:30] #102 closed

[2021-07-20 17:30] #113 closed

[2021-07-20 17:30] #112 closed

[2021-07-20 17:30] #111 closed

[2021-07-20 17:31] #110 closed

[2021-07-20 17:31] #108 closed

[2021-07-20 17:31] #107 closed

[2021-07-20 17:32] #103 closed

[2021-07-20 17:32] #104 closed

[2021-07-20 17:32] #105 closed

[2021-07-20 17:32] #106 closed

[2021-07-20 18:25] SnehaAgarwal361 commented on #99
Hey, @AtrikGit6174 that's great you were able to figure out a better solution as well but try finding a way to solve it through stacks since we have posted this question under the stacks section. To maintain project structure it's important , you can however optimize it using the stack as well!
Keep learning :)

[2021-07-20 19:22] 2000shivam659 commented on #68
I would like to solve this in **java** language. Please assign it to me.

[2021-07-20 21:23] comnk commented on #69
I created a pull request just recently for my code, so you can go and check if I need to fix anything

[2021-07-21 02:50] ujju20 commented on #65
Sure
Do follow the Contribution Guidelines and Complete your work in 1 day.

[2021-07-21 02:51] ujju20 commented on #68
Sure Do Follow the guidelines and Complete your work in 1 day.

[2021-07-21 03:10] comnk commented on #69
My code is ready for review

[2021-07-21 05:41] sameeksharl opened #127 "single-number(ARRAYS)"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in ARRAYS -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://www.youtube.

[2021-07-21 05:42] sameeksharl opened #128 "2. search-a-2d-matrix(ARRAYS)"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in ARRAYS -> Language (C++, Java, Python) Folder
-NO PLAGIARISM
https://youtu.be/qXeaN_ZVVIc

[2021-07-21 05:43] sameeksharl opened #129 "3. Merge-sorted-array(ARRAYS)"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in ARRAYS -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.be/qXe

[2021-07-21 05:44] sameeksharl opened #130 "Count-primes(ARRAYS)"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in ARRAYS -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://www.youtube.

[2021-07-21 05:45] sameeksharl opened #131 "1. Valid-sudoku(ARRAYS)"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in ARRAYS -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.be/qXe

[2021-07-21 05:48] AtrikGit6174 commented on #99
@SnehaAgarwal361 I also found the solution using a stack... May I be assigned the issue?
Stats for my new submission are
Runtime: 36 ms, faster than 84.04% of C++ online submissions for Reorder List.
Memory Usage: 18.3 MB, less than 37.76% of C++ online submissions for Reorder List.

[2021-07-21 05:52] comnk commented on #59
I created a pull request for this problem. It also comes with code from another problem that I was assigned to

[2021-07-21 05:52] comnk commented on #59
In Java

[2021-07-21 05:55] AtrikGit6174 commented on #131
I would like to add the C++ Solution to this problem. Kindly assign it under LGMSOC21.

[2021-07-21 06:23] ujju20 commented on #69
I have requested some changes see in the PR conversation.

[2021-07-21 06:26] sameeksharl commented on #131
@AtrikGit6174 do complete the work by 2 days

[2021-07-21 07:29] mrkc2303 commented on #59
I can do this problem in C++ in an efficient way.
Kindly assign me @ujju20

[2021-07-21 07:31] mrkc2303 commented on #57
I can work on it using C++ in an efficient way.
Kindly assign me @ujju20

[2021-07-21 09:14] ujju20 commented on #59
Do follow the guidelines and complete your work in 2 days.

[2021-07-21 10:44] yellowberard commented on #130
I Would like to solve this issue using C++.

[2021-07-21 10:52] sameeksharl commented on #130
@yellowberard go ahead

[2021-07-21 11:32] Sanskriti2401 commented on #97
@SnehaAgarwal361 I would like to solve this problem in C++.Kindly assign me this issue

[2021-07-21 12:30] khushi-purwar commented on #91
I want to work in this issue, please assign  it to me @YashThakare

[2021-07-21 14:56] AtrikGit6174 commented on #129
I would like to add the C++ solution under LGMSOC21. Kindly assign it.

[2021-07-21 16:22] YashThakare commented on #91
Hello @khushi-purwar , Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-07-21 17:21] comnk commented on #59
submitted a new pr for this problem

[2021-07-21 17:42] comnk commented on #85
Can I work on this problem in Java?

[2021-07-21 17:51] YashThakare commented on #85
Hi @comnk , Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-07-21 18:39] 23-24 commented on #128
can I work on this using c++

[2021-07-21 18:57] khushi-purwar commented on #91
ok

ok

[2021-07-21 19:01] khushi-purwar commented on #128
I want to work on this issue in C++. Can you assign it to me @sameeksharl

[2021-07-21 19:14] sameeksharl commented on #128
Go ahead

On Thu, 22 Jul 2021, 12:31 am Khushi Purwar, ***@***.***>
wrote:

[2021-07-21 19:22] khushi-purwar commented on #83
Kindly assign me this issue under LGMSOC'21 @YashThakare . I want to work on this issue in C++.

[2021-07-21 19:40] YashThakare commented on #83
Hi @khushi-purwar , Do follow the guidelines and complete your work in 2 days. Please go through README file.

[2021-07-21 19:50] khyati81 commented on #127
I would like to add the solution in java.

[2021-07-21 19:52] khyati81 commented on #87
I would like to add the solution in Java.

[2021-07-21 20:23] suvrashaw commented on #51
Want to complete this.

[2021-07-22 02:21] Sargam-Agarwal commented on #51
Hey @suvrashaw, kindly check the README on how to ask for assign. Its clearly mentioned over there to mention your language as well in which you will contribute.
Can't assign to you without that.

[2021-07-22 03:26] soma2000-lang commented on #98
@SnehaAgarwal361  Please assign me this issue.I am a LGM SOC 21 participant.I would code in c++

[2021-07-22 03:28] soma2000-lang commented on #100
@SnehaAgarwal361 I am an LGM SOC-21 participant .Please assign me this .I would code in c++

[2021-07-22 03:30] soma2000-lang commented on #93
@SnehaAgarwal361 Please assign me this issue.I am a LGM SOC 21 participant.I would code in c++

[2021-07-22 03:31] soma2000-lang commented on #82
@YashThakare  Please assign me this issue.I am a LGM SOC 21 participant.I would code in c++

[2021-07-22 03:53] SnehaAgarwal361 commented on #93
You can start working on the issue, please take care of the guidelines

[2021-07-22 03:54] SnehaAgarwal361 commented on #100
You can start working on the issue, we are giving at max 2 issues at a time.

[2021-07-22 04:32] soma2000-lang commented on #55
@ujju20  I am LGM SOC-21 particiapnt  and would like to work on this

[2021-07-22 05:09] ayushi-manmohan commented on #94
Problem Description :
Given the root of a binary tree, determine if it is a valid binary search tree (BST).

My Contribution Details :
I'll provide the well commented Java code with the most optimal Time Complexity of O(n) and Space Complexity of O(n) using the recursive approach.

Kindly assign this issue to me.

[2021-07-22 05:10] comnk commented on #80
Create a PR ready for review

[2021-07-22 05:19] YashThakare commented on #87
Hi @khyati81 , Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-07-22 05:20] YashThakare commented on #82
Hi @soma2000-lang , Do follow the guidelines and complete your work in 2 days. Please go through README file.

[2021-07-22 05:21] ayushi-manmohan commented on #89
I would like to work on this issue in **Java**.
Please assign it to me @YashThakare

[2021-07-22 05:24] YashThakare commented on #89
Hi @ayushi-manmohan , Do follow the guidelines and complete your work in 2 days. Please go through README file.

[2021-07-22 05:38] soma2000-lang commented on #82
@YashThakare  kindly assign

[2021-07-22 05:38] soma2000-lang commented on #82
Sure

[2021-07-22 05:55] SnehaAgarwal361 commented on #94
@ayushi-manmohan You can start working on it please do take care of guidelines.

[2021-07-22 06:06] suvrashaw commented on #51
I would like to add the Java Solution to this problem, under LGMSOC21.

[2021-07-22 06:09] Sargam-Agarwal commented on #51
Hey @suvrashaw, you can start working on this issue.
Kindly follow all the guidelines strictly. Go through the README before contributing specially the area where it clearly mentions how your code base should be.

Make sure to contribute the code within 1 day.

All the best 👍

[2021-07-22 06:24] nickel-28 commented on #89
I would like to work on this issue in **C++**
Please assign it to me @YashThakare

[2021-07-22 06:33] YashThakare commented on #89
Hi @nickel-28 , Do follow the guidelines and complete your work in 2 days. Please go through README file.

[2021-07-22 07:08] sameeksharl commented on #130
@yellowberard this problem is already solved in C++ , try in java or python .sorry for the inconvenience.

[2021-07-22 07:32] gunjan-g commented on #129
@sameeksharl @Sargam-Agarwal @ujju20 I would like to work on this issue in C++, kindly assign it to me

[2021-07-22 07:49] gunjan-g commented on #129
can I take up this issue please as you've assigned already

[2021-07-22 07:58] anushka-srivastava22 commented on #57
I am lgmsoc participant. Kindly assign this issue to me as I would like to work upon this issue.
@YashThakare

[2021-07-22 08:00] siddhi-244 commented on #83
Can I try in python?

[2021-07-22 08:08] YashThakare commented on #83
Hi @siddhi-244 , Do follow the guidelines and complete your work in 2 days. Please go through README file.

[2021-07-22 09:06] ujju20 commented on #55
Which Language?

[2021-07-22 09:08] ujju20 commented on #57
Sure Do follow the guidelines and complete your work in 2 days.

[2021-07-22 09:20] soma2000-lang commented on #55
C++

[2021-07-22 09:31] ujju20 commented on #55
Do Follow the guidelines and complete your work in 1 day.

[2021-07-22 10:35] yellowberard commented on #130
Sir I only know C++. So, I can't do them in Java or Python

[2021-07-22 13:06] drishtibaranwal commented on #66
I would like to add solution of this problem in C++.

[2021-07-22 13:12] ujju20 commented on #66
Sure Do follow the guidelines and Complete your work in 1 day.

[2021-07-22 13:14] drishtibaranwal commented on #66
ok Thanks

[2021-07-22 13:18] ayushi-manmohan commented on #94
Okay, thanks

[2021-07-22 14:48] AtrikGit6174 commented on #81
I would like to add the C++ solution for the problem under LGMSOC21. Kindly assign it.

[2021-07-22 14:51] YashThakare commented on #81
Hi @AtrikGit6174 ,Do follow the guidelines and complete your work in 2 days. Please go through README file.

[2021-07-22 17:12] ayushi-manmohan commented on #89
@YashThakare  Was there some problem in the code??? You reopened the code??

[2021-07-23 06:59] Sanskriti2401 commented on #78
@Debashish-hub I would like to work on this issue in C++

[2021-07-23 11:57] 2000shivam659 commented on #67
Please assign me this in **java** language.

[2021-07-23 12:14] 2000shivam659 commented on #91
Please assign me this in **java** language.

[2021-07-23 12:15] 2000shivam659 commented on #83
Please assign me this in **java** language.

[2021-07-23 12:38] YashThakare commented on #91
Hello @2000shivam659  , Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-07-23 12:40] YashThakare commented on #83
Hi @2000shivam659  , Do follow the guidelines and complete your work in 2 days. Please go through README file.

[2021-07-23 15:20] harshit-dugar commented on #129
I would like to do in C++ if not yet done

[2021-07-23 15:21] harshit-dugar commented on #127
Where is the question file would like to do in C++

[2021-07-23 16:35] comnk commented on #85
I submitted a pull request for this problem, you can check now

[2021-07-23 16:48] soma2000-lang commented on #96
@SnehaAgarwal361  can u assign me this.I am LGM SOC-21 participant

[2021-07-23 16:49] soma2000-lang commented on #84
@YashThakare can u assign me this I am LGMSOC participant

[2021-07-23 16:50] soma2000-lang commented on #79
@Debashish-hub  can u pl assign me this I am LGM SOC participant

[2021-07-23 16:51] soma2000-lang commented on #73
@Debashish-hub  Can u plz assign me this I am LGM SOC PARTICIPANT

[2021-07-23 16:52] soma2000-lang commented on #64
@Sargam-Agarwal  Can u plz assign me this I am an LGM SOC participant

[2021-07-23 16:54] ujju20 commented on #67
Sure Do follow the guidelines and complete your work in 2 days.

[2021-07-23 16:56] Debashish-hub commented on #79
Please complete your previous issues to get it assigned @soma2000-lang

[2021-07-23 16:58] ujju20 commented on #129
This has already been assigned in your requested language.
You can Check other unassigned issues also You can wait we will create new issues by Sunday.

[2021-07-23 17:46] Sargam-Agarwal commented on #64
Hey @soma2000-lang, kindly go through the README before asking for assign and contributing. As its clearly mentioned in the README and in the video also, please mention the language in which you want to contribute. Else we won't be able to assign you this issue.

Just mention the language, Ill assign it 👍

[2021-07-23 18:02] soma2000-lang commented on #64
I will code it in C++

[2021-07-23 18:25] #83 closed

[2021-07-23 18:32] Sargam-Agarwal commented on #64
Hey @soma2000-lang
You can start working on this issue. Make sure to follow all the guidelines strictly.
Contribute the code within 2 days.
All the best 👍

[2021-07-23 18:33] YashThakare commented on #84
Hi @soma2000-lang , Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-07-23 23:51] comnk commented on #74
Can I work on this problem in Java?

[2021-07-24 01:37] Debashish-hub commented on #74
Please complete your previous issues to get it assigned @comnk

[2021-07-24 02:13] comnk commented on #74
I did the previous issues. I don't think they were closed though

[2021-07-24 02:38] 23-24 commented on #50
can I work on this using c++

[2021-07-24 06:11] Sargam-Agarwal commented on #50
Hey @23-24
You can start working on this issue. Make sure to follow all the guidelines strictly.
Contribute the code within 2 days.
All the best 👍

[2021-07-24 06:48] soma2000-lang commented on #84
Pleasse assign me this

[2021-07-24 06:50] YashThakare commented on #84
In which language do you want to work ? @soma2000-lang

[2021-07-24 06:52] soma2000-lang commented on #84
In c++ sir

[2021-07-24 06:53] YashThakare commented on #84
Okay

[2021-07-24 11:35] soma2000-lang commented on #77
@Debashish-hub  can u please assign me this.I will code in c++

[2021-07-24 17:19] 2000shivam659 commented on #131
Please allow me to do this in **java** language @YashThakare

[2021-07-24 17:20] 2000shivam659 commented on #129
Please allow me to do this in **java** language @sameeksharl

[2021-07-24 18:55] SnehaAgarwal361 opened #182 "6. Flatten Nested List Iterator (STACK)"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in STACK -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.be/qXea

[2021-07-24 18:57] SnehaAgarwal361 opened #183 "7. Increasing Order Search Tree (STACK)"
Contribution Guidelines for this question-

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in STACK -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.be/qXea

[2021-07-24 18:59] SnehaAgarwal361 opened #184 "8. Remove Outermost Parentheses (STACK)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in STACK-> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.

[2021-07-24 19:01] SnehaAgarwal361 opened #185 "9. Design a Stack With Increment Operation (STACK)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in STACK-> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.

[2021-07-24 19:04] SnehaAgarwal361 opened #186 "10. Backspace String Compare(STACK)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in STACK-> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.

[2021-07-24 19:05] Sanskriti2401 commented on #182
@SnehaAgarwal361 I would lie to solve this question in C++.

[2021-07-24 19:07] Sanskriti2401 commented on #72
@Debashish-hub I would like to solve this question in C++. Kindly assign me this issue.

[2021-07-24 19:09] SnehaAgarwal361 opened #187 "Univalued Binary Tree (TREES)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in TREES-> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.

[2021-07-24 19:15] SnehaAgarwal361 opened #188 "7. Diameter of Binary Tree(TREES)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in TREES -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu

[2021-07-24 19:16] SnehaAgarwal361 opened #189 "8. Deepest Leaves Sum (TREES)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in TREES -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu

[2021-07-24 19:19] SnehaAgarwal361 opened #190 "9. All Possible Full Binary Trees(TREES)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in TREES -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu

[2021-07-24 19:21] SnehaAgarwal361 opened #191 "10. Binary Tree Right Side View(TREES)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in TREES -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu

[2021-07-24 19:42] 2000shivam659 commented on #99
Please allow me to do this in java language.

[2021-07-24 23:58] comnk commented on #74
Can I do this issue? My previous issues were already merged, but the issues weren't closed (at least not yet)

I did Coin Change, Pascal's Triangle, Delete Node in Linked List, and Check If Number is Power of Four

[2021-07-25 00:00] comnk commented on #95
Can I do this problem in Java?

[2021-07-25 00:00] comnk commented on #86
Can I do this issue in Java?

[2021-07-25 02:02] SnehaAgarwal361 commented on #99
You can start working on this issue, please take care of the guidelines.

[2021-07-25 02:02] SnehaAgarwal361 commented on #95
You can start working on this issue, please take care of the guidelines.

[2021-07-25 04:37] sameeksharl commented on #131
@2000shivam659 go ahead

[2021-07-25 06:39] YashThakare commented on #86
Hi @comnk , Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-07-25 06:41] sumitsoni0907 commented on #91
please assign me this in python language.

[2021-07-25 06:43] HarsheyP commented on #185
@SnehaAgarwal361 I would like to work on this issue under LGMSOC'21 in C++.

[2021-07-25 06:43] YashThakare commented on #91
Hi @sumitsoni0907 , Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-07-25 06:46] sumitsoni0907 commented on #91
Ok

[2021-07-25 07:43] nisha331 commented on #130
I would like to do this in python kindly assign it to me.

[2021-07-25 08:45] sameeksharl commented on #130
@nisha331 go ahead

[2021-07-25 11:25] #91 closed

[2021-07-25 11:41] SnehaAgarwal361 commented on #185
You can start working.
Happy coding:)

[2021-07-25 15:15] sumitsoni0907 commented on #90
I would like to add the java solution for this problem under LGMSOC21.
please assign me.

[2021-07-25 15:17] YashThakare commented on #90
Hi @sumitsoni0907 , Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-07-25 15:18] sumitsoni0907 commented on #90
ok

[2021-07-25 15:19] YashThakare opened #195 "8. House Robber (DYNAMIC PROGRAMMING)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in <Folder Name> -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https

[2021-07-25 15:24] YashThakare opened #196 "9. Interleaving String (DYNAMIC PROGRAMMING)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in DYNAMIC PROGRAMMING -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://

[2021-07-25 15:26] YashThakare opened #197 "10. Minimum Path Sum (DYNAMIC PROGRAMMING)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in DYNAMIC PROGRAMMING -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://

[2021-07-25 15:52] YashThakare opened #198 "6. Happy Number (MATH)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in MATH -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.be/qXeaN_

[2021-07-25 15:54] YashThakare opened #199 "7. Nth Digit (MATH)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in MATH -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.be/qXeaN_

[2021-07-25 15:56] YashThakare opened #200 "8. Prime Palindrome (MATH)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in <Folder Name> -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https

[2021-07-25 15:59] #200 closed

[2021-07-25 16:00] YashThakare opened #201 "8. Prime Palindrome (MATH)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in MATH -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.be/qXeaN_

[2021-07-25 16:01] 2000shivam659 commented on #129
assign me this under LGMSOC'21.

[2021-07-25 16:01] YashThakare opened #202 "9. Valid Square (MATH)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in MATH -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.be/qXeaN_

[2021-07-25 16:02] YashThakare opened #203 "10. Greatest Common Divisor of Strings (MATH)"
Contribution Guidelines for this question

-Languages available: C++, Java, Python
-Well Commented Code
-In the starting, add a brief explanation of the algorithm
-if possible, add time and space complexity
-kindly upload your code in MATH -> Language (C++, Java, Python) Folder
-NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https://youtu.be/qXeaN_

[2021-07-25 17:14] 2000shivam659 commented on #201
Please assign me this in **java** language.

[2021-07-25 17:24] ujju20 opened #205 "7.Set MisMatch (BIT-MANIPULATION)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Bit-Manipulation -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
ht

[2021-07-25 17:25] ujju20 opened #206 "8.Binary Gap (BIT-MANIPULATION)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in <Folder Name> -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https

[2021-07-25 17:26] ujju20 opened #207 "9.Subset (BIT-MANIPULATION)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in <Folder Name> -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https

[2021-07-25 17:28] ujju20 opened #208 "10. Find the Duplicate Number (BIT-MANIPULATION)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Bit-Manipulation -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
ht

[2021-07-25 17:29] ujju20 opened #209 "6. Linked List Cycle (LINKED LIST)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Linked List -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https:/

[2021-07-25 17:30] ujju20 opened #210 "7. Convert Binary Number in a Linked List to Integer (LINKED lIST)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Linked List -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https:/

[2021-07-25 17:31] ujju20 opened #211 "8. Next Greater Node In Linked List (LINKED LIST)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Linked List -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https:/

[2021-07-25 17:33] ujju20 opened #212 "9.Split Linked List in Parts (LINKED LIST)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Linked List -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https:/

[2021-07-25 17:34] ujju20 opened #213 "10. Partition List (LINKED LIST)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in Linked List -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https:/

[2021-07-25 17:44] Debashish-hub opened #214 "6. Reduce Array Size to The Half (HEAP)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in <Folder Name> -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https

[2021-07-25 17:45] Debashish-hub opened #215 "7. Sort Characters By Frequency (HEAP)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in <Folder Name> -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https

[2021-07-25 17:46] Debashish-hub opened #216 "8. K Closest Points to Origin (HEAP)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in <Folder Name> -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https

[2021-07-25 17:46] Debashish-hub opened #217 "9. Sort an Array (HEAP)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in <Folder Name> -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https

[2021-07-25 17:47] Debashish-hub opened #218 "10. Maximum Score From Removing Stones (HEAP)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in <Folder Name> -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https

[2021-07-25 17:52] Debashish-hub opened #219 "6. Maximum Length of Repeated Subarray (HASHING)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in <Folder Name> -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https

[2021-07-25 17:53] Debashish-hub opened #220 "7. Repeated DNA Sequences (HASHING)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in <Folder Name> -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https

[2021-07-25 17:53] Debashish-hub opened #221 "8. Longest Chunked Palindrome Decomposition (HASHING)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in <Folder Name> -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https

[2021-07-25 17:54] Debashish-hub opened #222 "9. Distinct Echo Substrings (HASHING)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in <Folder Name> -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https

[2021-07-25 17:54] Debashish-hub opened #223 "10. Longest Happy Prefix (HASHING)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in <Folder Name> -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https

[2021-07-25 18:43] YashThakare commented on #201
Hi @2000shivam659  , Do follow the guidelines and complete your work in 2 days. Please go through README file.

[2021-07-25 19:49] Sanskriti2401 commented on #220
@Debashish-hub Kindly assign me this issue. I want to solve this question in C++

[2021-07-26 01:52] sumitsoni0907 commented on #90
I would also like to add python solution for this problem under LGMSOC21. Please assign me.

[2021-07-26 06:25] mrkc2303 commented on #207
I can do this problem in C++ in an efficient way.
Kindly assign me this problem @ujju20

[2021-07-26 07:02] YashThakare commented on #90
Hi @sumitsoni0907 , Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-07-26 08:10] HarsheyP commented on #211
@ujju20 I would to try this in C++ under LGMSOC'21.

[2021-07-26 08:11] HarsheyP commented on #211
@ujju20 I would like to try this in C++ under LGMSOC'21.

[2021-07-26 10:21] 2000shivam659 commented on #208
Please assign me this in **java** language.

[2021-07-26 10:48] akash435 commented on #219
@Debashish-hub can i work on this issue in c++?

[2021-07-26 10:58] HarsheyP commented on #87
@YashThakare I would like to work on this in C++.

[2021-07-26 11:16] YashThakare commented on #87
Hi @HarsheyP , Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-07-26 12:48] soma2000-lang commented on #64
@Sargam-Agarwal  Please resolvee
 the conflicts and merge

[2021-07-26 15:33] soma2000-lang commented on #213
@ujju20 CAn I work on this ,I am an LGMSOC aprticipant .I will code in C++

[2021-07-26 15:34] soma2000-lang commented on #186
@SnehaAgarwal361 Can I work on this .I am an LGMSOC 21 paritipanrt ,will code in C++

[2021-07-26 16:21] #90 closed

[2021-07-26 16:31] 2000shivam659 commented on #207
Please assign me this in **java** language.

[2021-07-26 17:10] SnehaAgarwal361 commented on #186
yes so ahead make sure to take care of Contribution guidelines

[2021-07-26 19:44] soma2000-lang commented on #196
@YashThakare I will code in C+.LGMSOC participant pleaase assign me this

[2021-07-26 19:45] soma2000-lang commented on #62
@Sargam-Agarwal  please assign me this.I am LGM SOC participant ,wil ne coding in C++

[2021-07-27 06:06] ujju20 commented on #211
Sure Do follow the guidelines and try to finish the work in 2 days.

[2021-07-27 06:08] ujju20 commented on #208
Sure, Do follow the guidelines and complete your work in 2 days.

[2021-07-27 06:08] ujju20 commented on #213
Sure, Do follow the guidelines and complete your work in 2 days.

[2021-07-27 06:09] ujju20 commented on #207
Sure, Do follow the guidelines and complete your work in 2 days.

[2021-07-27 06:09] ujju20 commented on #207
Sure, Do follow the guidelines and complete your work in 2 days.

[2021-07-27 06:47] Swethashub-source commented on #209
I want to work on this problem in c++. I have just checked the question and wanted to try myself with the standard algo(floy's cycle) which I keep forgetting . But,now I did it in a single go and want to share my approach of understanding and algorithm to my peers.

[2021-07-27 06:54] ujju20 commented on #209
Sure, Do follow the guidelines and complete your work in 1 day.

[2021-07-27 14:22] monishamandal02 commented on #210
Can I work on this in c++?

[2021-07-27 14:23] monishamandal02 commented on #202
Can I work on this using c++?

[2021-07-27 14:24] monishamandal02 commented on #198
Can you assign me this as well using c++?

[2021-07-27 15:18] YashThakare commented on #198
Hi @monishamandal02  , Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-07-27 15:19] YashThakare commented on #202
Hi @monishamandal02  , Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-07-27 19:03] 23-24 commented on #188
can I work on this using c++

[2021-07-27 22:54] soma2000-lang commented on #222
@Debashish-hub  PLeaseassign me this issue.I will code in C++.I am a LGM SOC partucipant

[2021-07-27 22:55] soma2000-lang commented on #212
@ujju20  PLease assign me this issue.I will code in C++.I am a LGM SOC partucipant

[2021-07-27 22:56] soma2000-lang commented on #189
@SnehaAgarwal361  PLease assign me this issue.I will code in C++.I am a LGM SOC partucipant

[2021-07-27 22:58] soma2000-lang commented on #190
@SnehaAgarwal361  PLease assign me this issue.I will code in C++.I am a LGM SOC partucipant

[2021-07-28 01:39] 2000shivam659 commented on #211
Please allow me this in **java** language.

[2021-07-28 02:02] SnehaAgarwal361 commented on #188
Yes you can start working on the issue, please do take care of the contribution guidelines!

[2021-07-28 02:05] SnehaAgarwal361 commented on #190
Yes you can start working on the issue, please do take care of the contribution guidelines!

[2021-07-28 02:06] SnehaAgarwal361 commented on #189
Yes you can start working on the issue, please do take care of the contribution guidelines!
Make sure your code is not copied from anywhere.

[2021-07-28 08:35] akash435 commented on #223
@Debashish-hub can i work on this issue in c++ language?

[2021-07-28 08:41] ujju20 commented on #210
Sure, Do follow the guidelines and complete your work in 1 day.

[2021-07-28 08:42] ujju20 commented on #212
Sure, Do follow the guidelines and complete your work in 2 days.
One more thing don't take more than two issues at a time.

[2021-07-28 08:44] ujju20 commented on #211
How many issues have you taken?
Don't take more than two issues at a time.

[2021-07-28 13:20] drishtibaranwal opened #242 "Find the frequency of a number in an array"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in <Folder Name> -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https

[2021-07-28 13:21] drishtibaranwal commented on #242
I want to work on this issue. I want to do this problem in C++ in array section. Please assign me this issue.

[2021-07-28 13:24] drishtibaranwal opened #243 "Union and Intersection of two sorted arrays in C++"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in <Folder Name> -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https

[2021-07-28 13:25] drishtibaranwal commented on #243
I want to work on this issue. I want to solve this problem in C++. Please assign me this issue.

[2021-07-28 14:14] YashThakare commented on #242
Hello @drishtibaranwal , In the README file it is clearly mentioned that the issues are to be created by mentors only.
Participants can suggest the questions. Please go through README file.

So kindly close all the issues created by you by tonight.

[2021-07-28 16:46] 23-24 commented on #217
can I work on this using C++

[2021-07-28 18:16] sonamgupta136 commented on #217
Can I work on this using Python

[2021-07-28 18:41] ShwetKhatri2001 commented on #53
@Sargam-Agarwal  Can I work on this issue in C++ ? I am LGMSOC participant.

[2021-07-28 18:46] ShwetKhatri2001 commented on #215
@Debashish-hub  Can I work on this issue in C++ ? I am LGMSOC participant.

[2021-07-28 18:47] ShwetKhatri2001 commented on #214
@Debashish-hub  Can I work on this issue in C++ ? I am LGMSOC participant.

[2021-07-28 19:52] Sargam-Agarwal commented on #53
Hey @ShwetKhatri2001,
You can start working on this issue. Make sure to follow all the guidelines strictly.
Contribute the code within 2 days.
All the best 👍

[2021-07-29 10:03] Debashish-hub commented on #217
You can work @23-24

[2021-07-29 10:29] sonamgupta136 commented on #129
Can I solve in python

[2021-07-29 10:31] sonamgupta136 commented on #59
Can I solve in python

[2021-07-29 10:32] ujju20 commented on #59
Do follow the guidelines and complete your work in 2 days.

[2021-07-29 12:02] Sargam-Agarwal commented on #243
Hey @drishtibaranwal,
Kindly read the README thoroughly. Its clearly mentioned there that participants cannot and are not supposed to create issues under any circumstance.
Kindly close all the issues that you have created and take care of it from next time onwards.

[2021-07-29 12:07] Sargam-Agarwal opened #248 "1. Linked List Cycle (HASHTABLE)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in 'Hashtable' -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https:/

[2021-07-29 12:08] Sargam-Agarwal opened #249 "2. Intersection of two linked lists (HASHTABLE)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in 'Hashtable' -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https:/

[2021-07-29 12:08] Sargam-Agarwal opened #250 "3. Two Sum (HASHTABLE)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in 'Hashtable' -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https:/

[2021-07-29 12:10] Sargam-Agarwal opened #251 "4. Find all numbers disappeared in an array (HASHTABLE)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in 'Hashtable' -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https:/

[2021-07-29 12:10] Sargam-Agarwal opened #253 "5. Majority Element (HASHTABLE)"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in 'Hashtable' -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https:/

[2021-07-29 13:26] soma2000-lang commented on #199
@YashThakare  Please assign me this I am ana LGMSOC participant will code in C++

[2021-07-29 13:48] sonamgupta136 commented on #253
can i do in python

[2021-07-29 13:52] sonamgupta136 commented on #56
can i solve in python

[2021-07-29 13:55] YashThakare commented on #199
Hi @soma2000-lang  , Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-07-29 16:01] SnehaAgarwal361 commented on #129
Yes please go ahead!

[2021-07-30 02:21] ujju20 commented on #56
Sure, Do follow the guidelines and complete your work in 2 days.

[2021-07-30 04:23] 2000shivam659 commented on #212
I would like to sloe this in **java** language.

[2021-07-30 04:23] 2000shivam659 commented on #212
Please assign me this issue...

[2021-07-30 04:26] 2000shivam659 commented on #213
I would like to solve this in java language, please assign me this issue.

[2021-07-30 09:36] monishamandal02 commented on #210
Done

[2021-07-30 12:46] #242 closed

[2021-07-30 12:46] #243 closed

[2021-07-30 13:09] akash435 commented on #249
@Sargam-Agarwal can i work on this in C++

[2021-07-30 14:46] Sargam-Agarwal commented on #249
Hey @akash435
Surely you can start working on this issue. Make sure to follow all the guidelines strictly.
Contribute the code within 2 days.
All the best 👍

[2021-07-30 21:18] ShwetKhatri2001 commented on #216
@Debashish-hub Can I work on this issue in C++ ?

[2021-07-30 22:58] soma2000-lang commented on #206
@ujju20  I would like to work in this .I would codde in c++.Please asssignme this issue .I am an  LGMSOC particiapnt

[2021-07-31 07:54] ShwetKhatri2001 commented on #218
@Debashish-hub Can I work on this issue in C++ ?

[2021-07-31 18:49] ShwetKhatri2001 commented on #253
@Sargam-Agarwal  Can I work on this issue in C++ ?

[2021-08-01 04:09] soma2000-lang commented on #205
@ujju20 I would like to work in this .I would codde in c++.Please asssignme this issue .I am an LGMSOC particiapnt

[2021-08-02 11:56] sumitsoni0907 commented on #88
@YashThakare I would like do it using python. Kindly assign this issue to me.

[2021-08-02 12:24] akash435 commented on #221
@Debashish-hub can i work on this in C++

[2021-08-02 13:23] YashThakare commented on #88
Hi @sumitsoni0907 , Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-08-02 16:45] Sanskriti2401 commented on #203
@YashThakare I would like to solve this question in C++. Kindly assign me this issue.

[2021-08-02 16:47] HarsheyP commented on #250
@Sargam-Agarwal I would like to try this in C++.

[2021-08-02 16:48] YashThakare commented on #203
Hi @Sanskriti2401 , Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-08-02 19:31] ShwetKhatri2001 commented on #79
@Debashish-hub Can I work on this issue in C++ ?

[2021-08-03 07:04] ShwetKhatri2001 commented on #74
@Debashish-hub Can I work on this issue in C++ ?

[2021-08-03 14:44] ayushi-manmohan commented on #203
@YashThakare I would like to solve this question in Java. Kindly assign me this issue.

[2021-08-03 20:44] YashThakare commented on #203
Hi @ayushi-manmohan , Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-08-03 20:48] YashThakare commented on #196
Hi @soma2000-lang , Please try to finish the questions first which are assigned to you and after you complete that , I will assign this  question to you .

[2021-08-03 21:59] soma2000-lang commented on #187
@ujju20 I would like to work in this .I would codde in c++.Please asssignme this issue .I am an LGMSOC particiapnt

[2021-08-03 22:00] soma2000-lang commented on #183
@ujju20 I would like to work in this .I would codde in c++.Please asssignme this issue .I am an LGMSOC particiapnt

[2021-08-03 22:00] soma2000-lang commented on #76
@ujju20 I would like to work in this .I would codde in c++.Please asssignme this issue .I am an LGMSOC particiapnt

[2021-08-04 03:01] SnehaAgarwal361 commented on #183
Please do take care of participation guidelines and make sure the code is not copied from anywhere else we will have to take strict actions. @soma2000-lang

[2021-08-04 03:28] ujju20 commented on #76
Don't take more than two issues at a time.

[2021-08-04 07:01] ShwetKhatri2001 commented on #48
@ujju20 Can I work on this issue in C++ ?

[2021-08-04 07:07] ShwetKhatri2001 commented on #80
@YashThakare Can I work on this issue in C++ ?

[2021-08-04 07:23] YashThakare commented on #80
Hi @ShwetKhatri2001, Do follow the guidelines and complete your work in 2 days. Please go through README file.

[2021-08-04 07:57] YashThakare commented on #196
Hi @soma2000-lang, Do follow the guidelines and complete your work in 2 days. Please go through README file.

[2021-08-04 08:39] Ruheej1 commented on #191
I would like to solve this ques in C++
Please assign this to me.

[2021-08-04 08:45] Ruheej1 commented on #92
I would like to solve this question in C++
Please assign this to me under LGMSOC'21

[2021-08-04 14:08] Sargam-Agarwal commented on #253
Hey @sonamgupta136 and @ShwetKhatri2001, you can start working on this issue in your respective languages.
Kindly follow all the guidelines strictly. Go through the README before contributing specially the area where it clearly mentions how your code base should be.
Make sure to contribute the code within 2 days.
All the best 👍

[2021-08-04 14:09] Sargam-Agarwal commented on #250
Hey @HarsheyP , you can start working on this issue.
Kindly follow all the guidelines strictly. Go through the README before contributing specially the area where it clearly mentions how your code base should be.
Make sure to contribute the code within 1 day.
All the best 👍

[2021-08-04 14:12] Sargam-Agarwal commented on #48
Hey @ShwetKhatri2001 , you can start working on this issue.
Kindly follow all the guidelines strictly. Go through the README before contributing specially the area where it clearly mentions how your code base should be.
Make sure to contribute the code within 3 days.
All the best 👍

[2021-08-04 19:15] vilsi12 commented on #216
Yes

[2021-08-05 13:00] Ruheej1 commented on #94
I would like to add solution of this ques in C++
Please assign this to me.

[2021-08-05 14:57] ayushi-manmohan commented on #54
@ujju20  I would like to solve this question in Java. Kindly assign me this issue.

[2021-08-06 05:20] soma2000-lang commented on #75
@Debashish-hub  I would like to work in this .I would codde in c++.Please asssignme this issue .I am an LGMSOC particiapnt

[2021-08-06 06:12] ShwetKhatri2001 commented on #208
@ujju20 Can I work on this issue in C++ ?

[2021-08-06 12:15] akash435 commented on #251
@Sargam-Agarwal can i work on this in C++?

[2021-08-06 17:28] MitadruDatta commented on #202
I want to work on this using java

[2021-08-06 18:56] ShwetKhatri2001 commented on #201
@YashThakare Can I work on this issue in C++ ?

[2021-08-06 18:57] ShwetKhatri2001 commented on #89
@YashThakare Can I work on this issue in C++ ?

[2021-08-06 19:09] YashThakare commented on #202
Hi @MitadruDatta , Do follow the guidelines and complete your work in 1 day. Please go through README file.

[2021-08-06 19:11] YashThakare commented on #201
Hi @ShwetKhatri2001, Do follow the guidelines and complete your work in 2 days. Please go through README file.

[2021-08-06 19:27] YashThakare commented on #89
Hi @nickel-28 , I am unassigning this problem statement as you haven't completed it within deadline.

[2021-08-06 19:27] YashThakare commented on #89
Hi @ShwetKhatri2001, Do follow the guidelines and complete your work in 2 days. Please go through README file.

[2021-08-08 19:07] vilsi12 commented on #208
Yes @ShwetKhatri2001

[2021-08-08 22:21] ShwetKhatri2001 commented on #207
@ujju Can I work on this issue in C++ ?

[2021-08-09 11:47] Sargam-Agarwal commented on #251
Hey @akash435, you can start working on this issue.
Kindly follow all the guidelines strictly. Go through the README before contributing specially the area where it clearly mentions how your code base should be.
Make sure to contribute the code within 1 day.
All the best 👍

[2021-08-12 09:41] ujju20 commented on #207
Sure

[2021-08-16 15:37] aditi944 opened #301 "Check if the Sentence Is Pangram"
Hey, I would like to work on this issue in C++.

[2021-08-18 09:34] aditi944 commented on #301
Pls assign me this issue

[2021-08-20 09:25] aditi944 opened #302 "Longest Consecutive Sequence"
language- C++
Time complexity- O(n)
Space complexity- O(1)

[2021-08-22 02:29] shatakshi-modi commented on #248
Hey, can I do this in Cpp?

[2021-08-23 14:48] Sargam-Agarwal commented on #248
Hey @shatakshi-modi , you can start working on this issue.
Kindly follow all the guidelines strictly. Go through the README before contributing specially the area where it clearly mentions how your code base should be.
Make sure to contribute the code within 1 day.
All the best 👍

[2021-09-30 13:31] AtrikGit6174 opened #303 "Request to add LGMSOC21 labels to merged PRs to be considered for Leaderboard"
Dear Maintainers and Mentors,
@SnehaAgarwal361 @Sargam-Agarwal @ujju20 @sameeksharl @Debashish-hub @YashThakare
@vilsi12 @Amankesarwani2202 @rohan-kulkarni-25

Referring to the ongoing discussion in the #leaderboard-queries-personal and #leaderboard-queries threads on Discord channel, I request you to add the LGMSOC21 and level labels on the merged PRs so that they can be considered for the leader

[2022-03-07 07:18] Octet3290 commented on #209
I would like to work on this issue.
Kindly assign me.

[2022-10-01 16:48] Amank2202 commented on #301
Hi, I would like to work on this issue
Please assign it to me :)

[2022-10-01 17:10] #301 closed

[2022-10-01 18:15] Atulsoam562003 commented on #302
Hello. I can work on this. You can assign it to me if no one has already requested it. Thankyou.

[2022-10-01 18:16] Atulsoam562003 commented on #63
Hello. I can work on this. You can assign it to me if no one has already requested it. Thankyou.

[2022-10-01 20:06] muskaanrajput14 commented on #51
Please assign it to me

[2022-10-01 20:06] muskaanrajput14 commented on #50
Please assign it to me

[2022-10-01 20:07] #212 closed

[2022-10-02 04:20] mitali-1703 opened #311 "I want to add Matrix questions to the repo in C++....please assign me this issue under hacktoberfest2022"
# Contribution Guidelines for this question-

- Languages available: C++, Java, Python
- Well Commented Code
- In the starting, add a brief explanation of the algorithm
- if possible, add time and space complexity
- kindly upload your code in <Folder Name> -> Language (C++, Java, Python) Folder
- NO PLAGIARISM

Also, watch this video and the README section before contributing to the project.
https

[2022-10-02 18:42] #311 closed

[2022-10-03 17:26] Sandyy07 commented on #302
Kindly please assign me this issue.

[2022-10-03 17:27] Sandyy07 commented on #209
Kindly please assign me this issue.

[2022-10-04 09:59] Sandyy07 commented on #222
Hi , Kindly please assign this issue to me .

[2022-10-04 22:37] darkghost33 commented on #250
Can you assign me this sir? I will write it in C++

[2022-10-08 20:13] #303 closed

[2022-10-09 20:19] Shubhi-22 opened #318 "I want to add tree traversal code in python"
In this  preorder, postorder, inorder code will be present in python.

[2022-10-13 11:16] Arika008 commented on #220
Please check my PR #320